<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zed_x_mini">

    <xacro:include filename="$(find waver_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find waver_description)/urdf/util.xacro" />

    <link name="zed_x_mini_link">
        <inertial>
            <mass value="${zed_x_mini_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1.2205537500280872e-05" iyy="4.073932956405751e-06" izz="1.3748504884318975e-05" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://waver_description/meshes/zedxm.stl" scale="${zed_x_mini_scale}" />
            </geometry>
            <xacro:black_material />
        </visual>
        <collision>
            <origin xyz="0 0 ${base_to_top - 0.039}" rpy="0 0 0" />
            <geometry>
                <box size="${zed_x_mini_dimensions}" />
            </geometry>
        </collision>
    </link>

    <joint name="zed_x_mini_joint" type="fixed">
        <origin xyz="0.1129 0 ${base_to_top - 0.033}" rpy="0 0 0" />
        <parent link="top_shell_link" />
        <child link="zed_x_mini_link" />
    </joint>

    <link name="zed_x_mini_optical_frame" />

    <joint name="zed_x_mini_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-${pi/2} 0 -${pi/2}" />
        <parent link="zed_x_mini_link" />
        <child link="zed_x_mini_optical_frame" />
    </joint>

    <gazebo reference="zed_x_mini_link">
        <material>Gazebo/Black</material>
        <sensor name="depth_camera" type="rgbd_camera">
            <visualize>true</visualize>
            <update_rate>30.0</update_rate>
            <topic>depth_camera</topic>
            <gz_frame_id>zed_x_mini_link</gz_frame_id>
            <camera>
                <horizontal_fov>1.047198</horizontal_fov>
                <image>
                    <width>1920</width>
                    <height>1200</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.15</near>
                    <far>12.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
        </sensor>
    </gazebo>

</robot>